* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

/*   ------------- Header --------------------------      */



.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 160px;
    height: 70px;
    margin-right: 100px;
    margin-left: -1350px;
}

.logo span {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.container {
    padding: 10px 10%;

}

.logo h1 u span {
    margin-right: 240px;
    font-size: 39px;
    color: #ff004f;
}


.logo h1 u:hover {
    color: rgb(197, 40, 40);

}









header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav {
    margin-left: 773px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

header nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

header nav ul li a:hover::after {
    width: 100%;
}











nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}

nav ul li a::after {
    content: '';
    width:0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;

}




.logo img {
    height: 50px; /* Adjust as needed */
}

.nav-items ul {
    list-style: none;
    display: flex;
}

.nav-items li {
    margin-left: 20px;
    
}

.nav-items a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-items a:hover {
    color: #007BFF;
}







.btn {
    background-color: #ff004f;
    color: white;
    padding: 10px 20px;
    text-decoration:.header-text {
    margin-top: 20px;
    margin: 5% 5% 5% 0;
    /* font-size: 25px; */

    }
none; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e60047;
}





@keyframes movePhoto {
    0% {
        transform: translateY(50px); /* Start 50px below */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* End at original position */
        opacity: 1;
    }
}




.profile-photo {
    width: 350px;
    height: 158px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    width: 100%;
    height: 200%;
    object-fit: cover;
    border-radius: 50%;

}









body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0a0a0a;
    color: #fff;
}

header {
    background-color: #0a0a0a;
    padding: 20px;
    text-align: center;
    margin-left: 1500px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}



#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    background: #1c1c1e;
}

.header-text {
    max-width: 1250px;
    text-align: left;
    margin-right: 50px;
    margin-left: 220px;
}

.header-text h1 span {
    color: #ff004f;
}
.header-text h3  span {
    color: #ff004f;

}

.header-text h1 {
    font-size: 36px;
}

.header-text h2 {
    font-size: 48px;
    margin: 10px 0;
}

.header-text h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.header-text p {
    font-size: 18px;
    line-height: 1.6;
}

.header-text .social-icons {
    margin-top: 20px;
    margin-left: -990px;
}

.header-text .social-icons a {
    display: inline-block;
    margin: 0 10px;
    margin-left: 30px;
    font-size: 24px;
    color: #d887a7;
    transition: color 0.3s;
}

.header-text .social-icons a:hover {
    color: #e72d2d;
}

.header-text .btn {
    display: inline-block;
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px 30px;
    background-color: #ff004f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header-text .btn:hover {
    background-color: #e60045;
}

.header-img img {
    width: 397px;
    height: 447px;
    border-radius: 50%;
    margin-right: 200px;
}

@media (max-width: 768px) {
    #home {
        flex-direction: column;
        text-align: center;
    }

    .header-text {
        margin: 0 0 30px 0;
        text-align: center;
    }

    .header-img img {
        width: 400px;
    }
}



















.social-icons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
   
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ff004f; /* Change to a desired color on hover */
}


/* ----------------Skills ----------------------------- */

.skills-section {
    padding: 50px 20px;
    text-align: center;
}

.skills-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.skills-title span {
    color: #ff004f;
}

.skills-title::after {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f51515;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.skill {
    background-color: #464444;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
    transition: transform color 0.3s;
}

.skill img {
    height: 80px;
    margin-bottom: 15px;
}

.skill h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}



.skill:hover {
    transform: translate(-10px);
    color: #ff004f;
}
 
/* -------------------about----------------- */
#about {
    padding: 100px 0;
    background: #353433;
    color: #f5ededd8; 
}
#about .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about .about-col-1 {
    flex-basis: 45%;
}

#about .about-col-1 img {
    width: 100%;
    border-radius: 10px;
}

#about .about-col-2 {
    flex-basis: 50%;
}

#about .about-col-2 h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.about-col-2 h1 span {
    color: #ff004f;
}

.about-col-2 h3 span {
    color: #ff004f;
}

#about .about-col-1 h3 {
    font-size: 30px;
    color: #ff4500;
    margin-bottom: 10px;
}

#about .about-col-2 p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
}

#about .about-col-2 button {
    padding: 10px 30px; 
    font-size: 18px;
    color: #fff;
    background: #ff004f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#about .about-col-2 button:hover {
    background: #e60045;
}

.sub-titles {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;

}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#services{
    padding: 100px 0;
    background: #080808;

}
.section-title span {
    color: #ff004f;
    padding: 6px;
}
.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #fff;
}

.services-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.services-card {
    background-color: #1c1c1e;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.services-card:hover {
    transform: translate(-10px);
}

.heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.heading span {
    color: #ff004f;
}


.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-card {
    background: #2c2c2c;
    padding: 60px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    transition: transform 0.3s, background 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
    background: #ff004f;
}

.service-card h3 {
    margin: 15px 0;
    color: #fff;
}

.service-card p {
    color: #ddd;
    font-size: 14px;
}

.service-card .learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 0px 20px;
    background: #fff;
    color: #080808;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.service-card .learn-more:hover {
    background: #080808;
    color: #fff;
}

.service-icon {
    font-size: 50px;
    margin-bottom: 10px;
}



.services-icon {
    font-size: 3rem;
    margin-bottom: 15px;
}

.services-card h3 {
    margin-bottom: 15px;
    font-size: 3rem;
}

.services-card p {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ccc;
}

.learn-more {
    display: inline-block;
    padding: 30px 40px;
    color: #fff;
    background-color: #080808;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.learn-more:hover {
    background-color: #1c1c1e;
}

#certification-courses {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#certification-courses h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

#courses-list {
    list-style-type: none;
    padding: 0;
}


/* portfolio */

#Portfolio {
    padding: 50px 0;
}

.sub-title {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 40px;
    color: #fff;
}

.sub-title span {
    color: #ff004f;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.layer h3 span {
    color: #f0dada;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 17px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a {
    margin: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 13px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;

}

.btn:hover {
    background: #ff004f;
}

.contact-container {
    display: flex;
    flex-direction: row;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-info {
    flex: 1;
    padding: 20px;
    padding-left: 40px;
}

.contact-info h1 {
    font-size: 36px;
    margin-bottom: 20px;
    padding-left: -40px;
    margin-left: 405px;
    
}

.contact-info h1 span {
    color: #ff004f;
}


.contact-info p {
    font-size: 18px;
    margin: 10px 0;
    padding-left: -50px;
    margin-left: 410px;
}

.contact-info p:hover {
    color: #ff004f;
}

.contact-info p span {
    color: #f31259;
}

.contact-info .social-icons {
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
}

.contact-info .social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
}

.contact-info .social-icons a:hover {
    color: #ff004f;
}

.contact-info .btn {
    background-color: #ff004f;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    
}

.contact-form {
    flex: 1;
    padding: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    background-color: #333;
    border: none;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.contact-form .btn {
    background-color: #ff004f;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
